#! /bin/bash -xe
# https://alestic.com/2010/12/ubuntu-data-output/
exec > >(tee /var/log/install_tools_for_tpkube |logger -s 2>/dev/console) 2>&1
echo BEGIN
BEGIN_DATE=$(date '+%Y-%m-%d %H:%M:%S')
echo "BEGIN_DATE : $BEGIN_DATE"



echo "### kubectl install ###"
# #sudo snap install kubectl --classic
kubectl completion bash > kubectl.bash
sudo mv kubectl.bash /etc/bash_completion.d/
sudo su - vm{{ student_count_number_2digits }} -c "echo \"alias k='kubectl'\" >> ~/.bash_aliases"

sudo mkdir -p /home/vm{{ student_count_number_2digits }}/.kube
sudo chown vm{{ student_count_number_2digits }}:vm{{ student_count_number_2digits }} /home/vm{{ student_count_number_2digits }}/.kube
sudo cp /var/snap/microk8s/current/credentials/client.config /home/vm{{ student_count_number_2digits }}/.kube/config
sudo chown vm{{ student_count_number_2digits }}:vm{{ student_count_number_2digits }} /home/vm{{ student_count_number_2digits }}/.kube/config
sudo chown -f -R vm{{ student_count_number_2digits }} ~/.kube
sudo chmod 600 /home/vm{{ student_count_number_2digits }}/.kube/config


echo "alias k=kubectl" >> ~/.bash_aliases
echo 'complete -F __start_kubectl k' >>~/.bashrc

echo "Install krew and helm"
# sudo snap install helm --classic
sudo su - vm{{ student_count_number_2digits }} -c "helm repo add bitnami https://charts.bitnami.com/bitnami"

(
  TMP_DIR=$(mktemp -d)
  set -x; cd "$TMP_DIR" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/krew-linux_amd64.tar.gz" &&
  tar zxvf "krew-linux_amd64.tar.gz" &&
  chmod -R 777 $TMP_DIR &&
  sudo su - vm{{ student_count_number_2digits }} -c "$TMP_DIR/krew-linux_amd64 install krew"
)
sudo su - vm{{ student_count_number_2digits }} -c "echo \"export PATH=/home/vm{{ student_count_number_2digits }}/.krew/bin:\$PATH\" >> ~/.bashrc"
# Need to do this to use krew now in the script
export PATH=/home/vm{{ student_count_number_2digits }}/.krew/bin:$PATH

echo "Install Wireshark and ksniff"
echo "wireshark-common wireshark-common/install-setuid boolean true" | sudo debconf-set-selections
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install wireshark
# sudo apt install -y wireshark-gnome
# sudo usermod -a -G wireshark vm{{ student_count_number_2digits }}
        ## TODO fix this ....   sudo su - vm{{ student_count_number_2digits }} -c "kubectl krew install sniff"
# sudo su - ubuntu -c "kubectl krew install sniff"

echo "Install Java and Jmeter"
sudo apt install -y openjdk-8-jdk
curl -O https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.5.tgz
tar -xzf apache-jmeter-5.5.tgz
sudo mv apache-jmeter-5.5 /usr/local/bin/
rm -f apache-jmeter-5.5.tgz
sudo su - vm{{ student_count_number_2digits }} -c "echo \"export PATH=/usr/local/bin/apache-jmeter-5.5/bin:\$PATH\" >> ~/.bashrc"


echo "### Notify end of script ###"
touch /home/root/install_tools_for_tpkube_finished
END_DATE=$(date '+%Y-%m-%d %H:%M:%S')
echo "BEGIN_DATE : $BEGIN_DATE"
echo "END_DATE : $END_DATE"
echo END