#! /bin/bash -xe
# https://alestic.com/2010/12/ubuntu-data-output/
exec > >(tee /var/log/install_tools_for_tpkube |logger -s 2>/dev/console) 2>&1
echo BEGIN
BEGIN_DATE=$(date '+%Y-%m-%d %H:%M:%S')
echo "BEGIN_DATE : $BEGIN_DATE"

# Remove or empty non used files in the demoboard source code
sudo rm -f /home/vm{{ student_count_number_2digits }}/tpcs-iac/demoboard/ansible/demoboard-source/docker-compose.yml
sudo rm -f /home/vm{{ student_count_number_2digits }}/tpcs-iac/demoboard/ansible/demoboard-source/docker-compose.light.yml



echo "### Notify end of script ###"
touch /home/root/install_tools_for_tpkube_finished
END_DATE=$(date '+%Y-%m-%d %H:%M:%S')
echo "BEGIN_DATE : $BEGIN_DATE"
echo "END_DATE : $END_DATE"
echo END