[defaults]
inventory = inventory_aws_ec2.yml
private_key_file = terraform-infra/key
host_key_checking = False
retry_files_enabled = False
forks = 15
# Number of nodes taht Ansible control node will connect simultaneously
# https://medium.com/devops-srilanka/difference-between-forks-and-serial-in-ansible-48677ebe3f36

[inventory]
enable_plugins = aws_ec2