{% set eks_clusters = (tf_vars.eks_clusters.value if (tf_vars.eks_clusters is defined and tf_vars.eks_clusters.value is defined) else {}) %}
{% set cluster_names = eks_clusters.keys() | list | sort %}
{% set student_name = ansible_hostname %}
apiVersion: v1
kind: Config
preferences: {}
clusters:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}"
    cluster:
      server: "{{ eks_clusters[cluster_key].endpoint }}"
      certificate-authority-data: "{{ eks_clusters[cluster_key].certificate_authority_data }}"
{% endfor %}
users:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}-{{ student_name }}-user"
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: aws
        args:
          - --profile
          - eks
          - --region
          - "{{ eks_clusters[cluster_key].region }}"
          - eks
          - get-token
          - --cluster-name
          - "{{ eks_clusters[cluster_key].cluster_name }}"
          - --output
          - json
        env:
          - name: AWS_SDK_LOAD_CONFIG
            value: "1"
{% endfor %}
contexts:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}"
    context:
      cluster: "{{ cluster_key }}"
      user: "{{ cluster_key }}-{{ student_name }}-user"
      namespace: "{{ student_name }}"
{% endfor %}
current-context: "{{ cluster_names[0] if (cluster_names | length) > 0 else '' }}"
