[Desktop Entry]
Type=Application
Exec=code --disable-workspace-trust {{ student_tp_vars[tp_name].git.local_dir }}/
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=vscode
Name=vscode
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0