<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Redirecting to Monitoring</title>
    <meta http-equiv="refresh" charset="utf-8" content="0; url=https://monitoring.{{ dns_subdomain }}" />
</head>
<body>
    <p>Loading
       <a href="https://monitoring.{{ dns_subdomain }}">Redirecting to Monitoring (click here if not working)</a>
    ...</p>
</body>
</html>