{% set cluster_names = eks_clusters_map.keys() | list | sort %}
apiVersion: v1
kind: Config
preferences: {}
clusters:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}"
    cluster:
      server: "{{ eks_clusters_map[cluster_key].endpoint }}"
      certificate-authority-data: "{{ eks_clusters_map[cluster_key].certificate_authority_data }}"
{% endfor %}
users:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}-bootstrap-user"
    user:
      token: "{{ eks_bootstrap_tokens[cluster_key] | default('') }}"
{% endfor %}
contexts:
{% for cluster_key in cluster_names %}
  - name: "{{ cluster_key }}"
    context:
      cluster: "{{ cluster_key }}"
      user: "{{ cluster_key }}-bootstrap-user"
{% endfor %}
current-context: "{{ cluster_names[0] if (cluster_names | length) > 0 else '' }}"
