{
  %{ for i in range(vm_number) }
    "${format("iac%02d", i)}": {
      "AK": "${access_key[i].id}",
      "SK": "${access_key[i].secret}"
    }
    %{if i < vm_number - 1}
    ,
    %{ endif }
  %{ endfor }
}
