
<html>
<body>


for user in $suers

user00 vm00 AK : xdjkfdsd  DNS - record vm00.tpcs.multiseb.com  IP adress : 10.RR.FF.GG

actual resolution of dns lookup IP on the record (to verify if OVH records has been updated in case of reboot of the VM (in the morning for example))


</body>
</html>
